<nav class="ease2">
    <ul>
        <li class="blank-head"><a href="javascript:;"></a></li>
        <li class="area">
            <div>
                <i class="nav-icons"><img src="[{$Think.const.IMG_URL}]zb.png"</img></i>
                [{foreach userlist as $k=>$v }]
                <div id="college">[{$v.school_name}]</div>
                [{/foreach}]
            </div>
        </li>
        <div id="xgpersonal" class="button" data-type="l" style="width:110px;">完善信息</div>
        <div id="goodsfb" class="button" data-type="l" style="width:110px;">发布的商品</div>
        <div id="xggoods" class="button" data-type="l" style="width:110px;">商品信息修改</div>
        <div id="goodsdel" class="button" data-type="l" style="width:110px;">商品删除</div>
        <div id="post" class="button" data-type="l" style="width:110px;">帖子管理</div>
        <div id="msgtongzhi" class="button" data-type="l" style="width:110px;">消息通知<span style="color:red;">([{$tz}])</span></div>
        <div id="modifypw" class="button" data-type="l" style="width:110px;">修改密码</div>
        <div id="renzheng" class="button" data-type="l" style="width:110px;">认证</div>
    </ul>
</nav>
<script type="text/javascript">
    $(document).ready(function(){
        $("#xgpersonal").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/xgpersonal";
        });
        $("#modifypw").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/modifypw";
        });
        $("#goodsfb").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/goodsfb";
        });
        $("#xggoods").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/xggoods";
        });
        $("#post").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/post";
        });
        $("#goodsdel").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/goodsdel";
        });
        $("#msgtongzhi").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/msgtongzhi";
        });
        $("#renzheng").click(function () {
            window.location.href = "[{$Think.const.APP_HOME_URL}]Personal/renzheng";
        });
    });
</script>
<div class="container">
    <div class="main center">
        <div class="wrap-site mt20">
            <div class="recom-title"><font size="6" color="#646464">个人信息</font></div>
            <div class="personal1">
                <table width="60%" border="0" cellspacing="0" cellpadding="0" class="main1">
                    [{foreach userlist as $k=>$v }]
                    <tr>
                        <td width="40%"><font size="4" color="#646464">发布商品:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$goods_num}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">学校:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.school_name}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">专业:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.zhuanye}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">年级:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.nianji}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">QQ:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.user_qq}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">邮箱:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.user_email}]</font></td>
                    </tr>
                    <tr>
                        <td width="40%"><font size="4" color="#646464">电话:</font></td>
                        <td width="60%"><font size="4" color="#646464">[{$v.user_tel}]</font></td>
                    </tr>
                    [{/foreach}]
                </table>
            </div>
        </div>
        <div id="personal-nav"></div>
    </div>
</div>
