<!doctype html public "-//w3c//dtd xhtml 1.0 frameset//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-frameset.dtd">
<html>
<head>
    <title>公共头部</title>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <meta http-equiv=pragma content=no-cache/>
    <meta http-equiv=cache-control content=no-cache/>
    <meta http-equiv=expires content=-1000/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]style.css" type="text/css" rel="stylesheet"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]top_nav.css" type="text/css" rel="stylesheet"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]common.css" type="text/css" rel="stylesheet"/>
    <script src="[{$Think.const.STATIC_URL}]js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div id="top-nav">
    <ul>
        <li class="nav_li"><a href="[{$Think.const.APP_ADMIN_URL}]Category/addcategory">添加栏目</a></li>
        <li class="nav_li"><a href="[{$Think.const.APP_ADMIN_URL}]Category/editcategory">修改栏目信息</a></li>
        <li class="nav_li"><a href="[{$Think.const.APP_ADMIN_URL}]Category/delcategory">删除栏目</a></li>
    </ul>
</div>