<footer>
    <div class="friend-links">
        <div style="margin: 0 0 0 400px;font-size:15px;">[{foreach link as $k=>$v }]<a href="[{$v.link_link}]" target="_blank" class="links" style="text-decoration:none;">[{$v.link_name}]&nbsp;&nbsp;|&nbsp;&nbsp; </a>[{/foreach}]</div>
        <ul class="links-wr center">
            <li class="first">
                <a href="" target="_blank" class="links">校园</a>
            </li>
            <li>
                <a href="" target="_blank" class="links">在线</a>
            </li>
            <li>
                <a href="" target="_blank" class="links">淘物</a>
            </li>
            <li>
                <a href="" target="_blank" class="links">站长统计</a>
            </li>
        </ul>
    </div>
    <div class="site-msg line1">
        <a class="about" id="fd_footer" target="_blank" href="[{$Think.const.APP_HOME_URL}]Msg/suggest">产品意见反馈</a>
        <a class="contact" href=""></a>
    </div>
    <div class="site-msg line2">
        <span class="power"></span>
        <span></span>
    </div>
</footer>

</body>
</html>