<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]admin.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<table cellspacing=0 cellpadding=0 width="100%"
       background="[{$Think.const.ADMIN_IMG_URL}]header_bg.jpg" border=0>
    <tr height=56>
        <td width=260><img height=56 src="[{$Think.const.ADMIN_IMG_URL}]header_left.jpg"
                           width=260></td>
        <td style="font-weight: bold; color: #fff; padding-top: 20px"
            align=middle>当前用户：[{$Think.session.am_name}] &nbsp;&nbsp;<a style="color: #fff"
                                                                        href="[{$Think.const.APP_ADMIN_URL}]Index/right"
                                                                        target=right>回到首页</a> &nbsp;&nbsp;<a
                style="color: #fff" href="[{$Think.const.APP_ADMIN_URL}]System/modifypwd" target=right>修改密码</a> &nbsp;&nbsp;
            <a
                    style="color: #fff"
                    onclick="if (confirm('确定要退出吗？')) return true; else return false;"
                    href="[{$Think.const.APP_ADMIN_URL}]System/logout" target=_top>退出系统</a>
        </td>
        <td align=right width=268><img height=56
                                       src="[{$Think.const.ADMIN_IMG_URL}]header_right.jpg" width=268></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=0 width="100%" border=0>
    <tr bgcolor=#1c5db6 height=4>
        <td></td>
    </tr>
</table>
</body>
</html>