<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]admin.css" type="text/css" rel="stylesheet"/>
    <script language=javascript>
        function expand(el) {
            childobj = document.getElementById("child" + el);

            if (childobj.style.display == 'none') {
                childobj.style.display = 'block';
            }
            else {
                childobj.style.display = 'none';
            }
            return;
        }
    </script>
</head>
<body>
<table height="100%" cellspacing=0 cellpadding=0 width=170
       background=[{$Think.const.ADMIN_IMG_URL}]menu_bg.jpg border=0>
    <tr>
        <td valign=top align=middle>
            <table cellspacing=0 cellpadding=0 width="100%" border=0>

                <tr>
                    <td height=10></td>
                </tr>
            </table>
            [{foreach showlist as $k=>$v }]
            [{if $v.auth_level == 0 }]
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background=[{$Think.const.ADMIN_IMG_URL}]menu_bt.jpg><a
                            class=menuparent onclick=expand([{$v.auth_id}])
                            href="javascript:void(0);">[{$v.auth_name}]</a></td>
                </tr>
                <tr height=4>
                    <td></td>
                </tr>
            </table>
            [{/if}]
            <table id=child[{$v.auth_id}] style="display: none" cellspacing=0 cellpadding=0
                   width=150 border=0>
                [{foreach showlist as $k1=>$v1 }]
                [{if $v.auth_id == $v1.auth_pid && $v1.auth_level==1 }]
                <tr height=20>
                    <td align=middle width=30><img height=9
                                                   src="[{$Think.const.ADMIN_IMG_URL}]menu_icon.gif" width=9></td>
                    <td><a class=menuchild
                           href="[{$Think.const.APP_ADMIN_URL}][{$v1.auth_c}]/[{$v1.auth_a}]"
                           target="right">[{$v1.auth_name}]</a></td>
                </tr>
                [{/if}]
                [{/foreach}]
                <tr height=4>
                    <td colspan=2></td>
                </tr>
            </table>
            [{/foreach}]
        </td>
        <td width=1 bgcolor=#d1e6f7></td>
    </tr>
</table>
</body>
</html>