<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <link href="[{$Think.const.ADMIN_CSS_URL}]admin.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
    <tr height=28>
        <td background=[{$Think.const.ADMIN_IMG_URL}]title_bg1.jpg>当前位置:</td>
    </tr>
    <tr>
        <td bgcolor=#b1ceef height=1></td>
    </tr>
    <tr height=20>
        <td background=[{$Think.const.ADMIN_IMG_URL}]shadow_bg.jpg></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=0 width="90%" align=center border=0>
    <tr height=100>
        <td align=middle width=100><img height=100 src="[{$Think.const.ADMIN_IMG_URL}]admin_p.gif"
                                        width=90></td>
        <td width=60>&nbsp;</td>
        <td>
            <table height=100 cellspacing=0 cellpadding=0 width="100%" border=0>

                <tr>
                    <td>当前登录时间：[{$Think.Session.am_logtime}]</td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 16px">[{$Think.Session.am_name}]</td>
                </tr>
                <tr>
                    <td>欢迎进入网站管理中心！</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=3 height=10></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=0 width="95%" align=center border=0>
    <tr height=20>
        <td></td>
    </tr>
    <tr height=22>
        <td style="padding-left: 20px; font-weight: bold; color: #ffffff"
            align=middle background=[{$Think.const.ADMIN_IMG_URL}]title_bg2.jpg>您的相关信息
        </td>
    </tr>
    <tr bgcolor=#ecf4fc height=12>
        <td></td>
    </tr>
    <tr height=20>
        <td></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=2 width="95%" align=center border=0>
    <tr>
        <td align=right width=100>登陆帐号：</td>
        <td style="color: #880000">[{$Think.Session.am_name}]</td>
    </tr>
    <tr>
        <td align=right>真实姓名：</td>
        <td style="color: #880000">[{$Think.Session.real_name}]</td>
    </tr>
    <tr>
        <td align=right>注册时间：</td>
        <td style="color: #880000">[{$Think.Session.am_regtime}]</td>
    </tr>
    <tr>
        <td align=right>上线时间：</td>
        <td style="color: #880000">[{$Think.Session.am_logtime}]</td>
    </tr>
    <tr>
        <td align=right>登录ip地址：</td>
        <td style="color: #880000">[{$Think.Session.log_ip}]</td>
    </tr>
    <tr>
        <td align=right>网站开发者qq：</td>
        <td style="color: #880000">562405704</td>
    </tr>
</table>
</body>
</html>