<div id="hd">
    <div class="wp">
        <div class="hdc cl">
            <h2><a href="#">
                <form method="post" autocomplete="off" id="lsform" action="#">
                    <div class="fastlg cl">
                        <span id="return_ls" style="display:none"></span>
                        <div class="y pns"></div>
                </form>

        </div>
        <div id="nv" style="top: 0px; left: 194.5px; z-index: 199;">
            <ul>
                [{foreach faclist as $k=>$v }]
                <li id="forum_index"><a href="[{$Think.const.APP_HOME_URL}]Forum/index?fac_id=[{$v.fac_id}]">[{$v.fac_name}]</a></li>
                [{/foreach}]
            </ul>
        </div>
    </div>
    <div id="scbar" class="scbar_narrow cl">
        <form id="scbar_form" method="post" autocomplete="off" action="[{$Think.const.APP_HOME_URL}]Forum/forum_post" target="_blank">
            <table cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="scbar_icon_td"></td>
                    <td class="scbar_txt_td">
                        <input type="text" name="srchtxt" id="scbar_txt" class=" xg1" placeholder="请输入搜索内容"></td>
                    <td class="scbar_type_td"><a href="javascript:;" id="scbar_type" class="xg1">帖子</a></td>
                    <td class="scbar_btn_td">
                        <button name="srch_submit" value="true" type="submit" id="scbar_btn" sc="1" class="pn pnc">
                            <strong class="xi2">搜索</strong></button>
                    </td>
                    <!--一个简答的jq，不能让搜索为空-->
                    <script type="text/javascript">
                        $("#scbar_btn").click(function(){
                            var srchtxt = $("#scbar_txt").val();
                            if(srchtxt == ''){
                                alert('搜索不能为空');
                                return false;
                            }
                        });
                    </script>
                    <td class="scbar_hot_td">
                        <div id="scbar_hot">
                            <strong class="xw1">热搜: </strong>
                            <a href="#" target="_blank" class="xi2" sc="1">网页游戏</a>
                            <a href="#" target="_blank" class="xi2" sc="1">交友</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</div>

<div id="wp" class="wp">
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="[{$Think.const.APP_HOME_URL}]Forum/index?fac_id=[{$fsc.fsc_id}]" class="nvhm" title="首页"></a><em>&#187;</em><a
                href="[{$Think.const.APP_HOME_URL}]Forum/index?fac_id=[{$fsc.fsc_id}]">首页</a></div>
    </div>
    <div id="ct" class="wp cl">
        <div id="chart" class="bm bw0 cl">
            <p class="chart z">今日: <em>[{$newnum}]</em><span class="pipe">|</span>昨日: <em>[{$lnum}]</em><span class="pipe">|</span>帖子:
                <em>[{$pc}]</em><span class="pipe">|</span>会员: <em>[{$uc}]</em><span class="pipe">|</span>欢迎新会员: <em><a
                        href="#" target="_blank" class="xi2">[{$newu.username}]</a></em></p>
        </div>
        [{foreach fsc_all as $k=>$v }]
        <div class="mn">
            <div class="fl bm">
                <div class="bm bmw  cl">
                    <div class="bm_h cl">
                        <h2>[{$v.fsc_name}]</h2>
                    </div>
                    <div id="category_30" class="bm_c" style="">
                        <table cellspacing="0" cellpadding="0" class="fl_tb">
                            <tbody>
                            <tr>
                                <td class="fl_icn">
                                    <a href="#"><img src="[{$Think.const.IMG_URL}]forum.gif" alt=""></a>
                                </td>
                                <td>
                                    <h2><a href="[{$Think.const.APP_HOME_URL}]Forum/forum_post?fac_id=[{$fsc.fac_id}]&fsc_id=[{$fsc.fsc_id}]" style="color: red;">[{$v.fsc_name}]</a></h2>
                                    <p class="xg2">[{$v.fsc_desc}]</p>
                                    <p>版主: <span class="xi2">[{$user.real_name}]</span></p></td>
                                <td class="fl_i">
                                    <span class="xi2">[{$reply_count}]</span><span class="xg1"> / [{$newpost.click_count}]</span></td>
                                <td class="fl_by">
                                    <div>
                                        <a href="[{$Think.const.APP_HOME_URL}]Forum/forum_reply?fac_id=[{$newpost.fac_id}]&fsc_id=[{$newpost.fsc_id}]&fp_id=[{$newpost.fp_id}]" class="xi2">[{$newpost.fp_biaoti}]</a> <cite>[{$newpost.add_time}]</cite>（本版版主最新发布主题）
                                    </div>
                                </td>
                            </tr>
                            <tr class="fl_row"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        [{/foreach}]
    </div>
</div>