[{include file="Goods/header" /}]  <!--包含头部文件-->
<table id="table1" class="table table-bordered table-hover definewidth m10" style="width:90%;">
    <thead>
    <tr>
        <th>商品ID</th>
        <th>商品名称</th>
        <th>原价</th>
        <th>二手价</th>
        <th>商品数目</th>
        <th>发布人</th>
        <th>操作</th>
    </tr>
    </thead>
    [{foreach goodslist as $k=>$v }]
    <tr>
        <td>[{$v.goods_id}]</td>
        <td>[{$v.goods_name}]</td>
        <td>[{$v.cost_price}]</td>
        <td>[{$v.ershou_price}]</td>
        <td>[{$v.goods_number}]</td>
        [{foreach userlist as $k1=>$v1 }]
        [{if $v.user_id == $v1.user_id }]
        <td>[{$v1.account_name}]</td>
        [{/if}]
        [{/foreach}]
        <td>
            <a value="[{$v.goods_id}]" href="#">删除</a>
        </td>
    </tr>
    [{/foreach}]
</table>
<div style="text-align:center;margin-top:15px;">[{$page}]</div>
<script>
    /*简单的jq，获取标签a点击的值*/
    $(document).ready(function () {
        $("#table1 a").click(function (e) {
            if (confirm("确定要删除吗？")) {
                var id = $(e.target).attr('value');
                /*用一个ajax把获取到的数据发送到后端去验证删除，无刷新删除*/
                $.ajax({
                    type: "POST",
                    url: "[{$Think.const.APP_ADMIN_URL}]Goods/goodslist",
                    data: "goods_id=" + id,
                    async: true, //默认为true 异步
                    error: function () {
                        alert('出错');
                    },
                    success: function (msg) {
                        if (msg == '删除成功') {
                            alert('商品删除成功');
                            window.location.reload();
                        } else if (msg == '删除失败') {
                            alert('商品删除失败');
                            window.location.reload();
                        }
                    }
                });
            }
        });
    });
</script>